.btn {
  display: grid;
  place-items: center;
  padding: 10px;
  margin: 0;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-color: var(--primary-border-color);
  font-family: Roboto, sans-serif;
  border-width: 0.01em;
}

.btn img {
  padding: 0;
  margin: 0;
}
