.container {
  color: var(--primary-color);
  text-align: center;
  line-height: 1.5;
  display: grid;
  align-content: center;
  font-size: 1.2em;
}

.intro,
.control {
  font-weight: bold;
  text-shadow: 0 0 0.25em var(--primary-border-color);
}

.control.p {
  margin: 0;
}

.subheading {
  text-shadow: 0 0 0.5em var(--primary-border-color);
  padding: 2em 0 0;
}
