html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  background: var(--secondary-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #e3b93b;
  --primary-border-color: #221f20;
  --secondary-color: #270c81;
}
