.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: grid;
  justify-content: center;
  background: url("/introBg.svg") center center repeat;
}

.main {
  padding: 4.5rem 6rem;
  display: grid;
  justify-content: center;
  grid-template-rows: auto 1fr auto;
  margin: 0;
}

.img {
  max-width: 110%;
  justify-self: center;
}

.play {
  justify-self: center;
  transform: translateY(-2.5em);
}
